#outer{
    position:relative;
    margin:auto;
    background:#E2E0E0;
    height:400px;
    width:400px;
}
h3{
    position:relative;
    text-align:center;
    top:20px;
    background:black;
    color:white;
    width:95%;
    margin:auto;
    
}
#display{
    position:absolute;
    background:#F5F5F5;
    height:20%;
    width:95%;
    top:13%;
    left:2.5%;
    text-align:right;
    font-size:2rem;   
    
}
.button-container{
    position:absolute;
  
    top:35%;
    left:2.5%;
    width:95%;
    height:63%;
    display:flex;
    flex-direction:column;
}
.button-container > * {
    display:flex;
flex:1;
}
.button-container > div button{
    flex:1;
    background:white;
    border:none;
    margin:1px;
    font-size:1.2rem;
    
}
#grow{
    flex-grow:2.18;
}
.red{
    background:#C14444 !important;
}